<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addNew()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let contact of contacts$ | async" (click)="cardSelected(contact)">
      <ion-avatar item-start>
          <text-avatar [text]="contact.name" item-start></text-avatar>
      </ion-avatar>
      <h2>{{contact.name}}</h2>
      <p *ngIf="contact.balance >= 0" ion-text color='secondary' item-end>{{contact.getAbsoluteBalance() | currency:'GBP':true:'.2-2'}}</p>
      <p *ngIf="contact.balance < 0" ion-text color='danger' item-end>{{contact.getAbsoluteBalance() | currency:'GBP':true:'.2-2'}}</p>
    </ion-item>
  </ion-list>
</ion-content>
